@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border;
}

html {
  @apply overflow-x-hidden;
}

body {
  @apply bg-slate-50 text-slate-900 font-sans overflow-x-hidden;
}

.button-primary {
  @apply bg-primary text-white px-4 py-2 rounded-md hover:bg-blue-700 transition;
}
