@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border;
}

html {
  @apply overflow-x-hidden;
}

body {
  @apply bg-neutral-white text-neutral font-sans overflow-x-hidden;
}

.button-primary {
  @apply bg-accent text-neutral-white px-4 py-2 rounded-md hover:bg-accent-dark transition;
}

